<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pos.android" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/POStheme" >
        <activity
            android:name=".Activities.SignInActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Chat.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".Activities.Stream.StreamActivity"
            android:label="@string/title_activity_stream" >
        </activity>
        <activity
            android:name=".Activities.Stream.ItemActvity"
            android:label="@string/title_activity_item_actvity" >
        </activity>
    </application>

</manifest>
